[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Last.fm settings
Comment=Configure your Last.fm account for scrobbling
Type=HildonControlPanelPlugin
Icon=qgn_list_cp_isetup
X-control-panel-plugin=libmafw-lastfm-cpa.so
Categories=extras
